*{
    margin: 0;
    padding: 0;
}

body{
    width: 430px;
    height: 500px;
}

.list{
    height: 450px;
    overflow: auto;
}

.left div{
    float: left;
    width: 67px;
    height: 92px;
    border-radius: 8px;
    margin:5px 20px;
}

.middle{
    display: inline-block;
    width:50%;
}

.right{
    float: right;
    margin:0 15px;
}

li{
    width: 100%;
    overflow: hidden;
    margin-top:10px;
}

.delBtn{
    font-weight: bold;
    cursor: pointer;
}

.contBtn{
    color:white;
    background: black;
    border-radius: 5px;
    display: inline-block;
    padding: 5px 8px;
}

.contBtn{
    text-decoration: none;
    color: white;
}

.contBtn:active{
    text-decoration: none;
    color: white;
}

.contBtn:visited{
    text-decoration: none;
    color: white;
}

.contBtn:hover{
    color: white;
    text-decoration: none;
}

div{
    margin-top: 10px;
    max-width: 100%;
    overflow: hidden;
}

div a{
    text-decoration: none;
    color: blue;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div a:active{
    text-decoration: none;
    color: blue;
}

div a:visited{
    text-decoration: none;
    color: blue;
}

div a:hover{
    color: blue;
    text-decoration: underline;
}

.source{
    text-decoration: none;
    color: grey;
}

.source:active{
    text-decoration: none;
    color: grey;
}

.source:visited{
    text-decoration: none;
    color: grey;
}

.source:hover{
    text-decoration: none;
    color: grey;
}

h3 a{
    text-decoration: none;
    color: black;
}

h3 a:active{
    text-decoration: none;
    color: black;
}

h3 a:visited{
    text-decoration: none;
    color: black;
}

h3 a:hover{
    color: black;
    text-decoration: none;
}

.news-badge{
    display:none;
    color: white;
    background: red;
    margin-left: 10px;
    border-radius: 5px;
    font-weight: normal;
    padding: 3px;
    font-size: 12px;
}
.news-badge:active{
    text-decoration: none;
    color: white;
}

.news-badge:visited{
    text-decoration: none;
    color: white;
}

.news-badge:hover{
    color: white;
    text-decoration: none;
}

nav{
    font-size: 0px;
}

nav span{
    display: inline-block;
    margin: 0;
    padding: 10px 88px;
    font-size: 18px;
    cursor: pointer;
    color: black;
    background: white;
}

.curTab{
    background: rgb(78,144,232);
    color: white;
}

#settingList li{
    text-align:center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

#settingList li span{
    font-size: 18px;
    cursor: pointer;
    color: #999;
    padding: 10px;
}

#settingList legend{
    border-bottom: 2px solid #777;
    font-size: 18px;
    color: #123;
    padding: 10px;
}

#favToggleWrap{
    font-size: 0px; /* 出自http://www.zhangxinxu.com/wordpress/2012/04/inline-block-space-remove-%E5%8E%BB%E9%99%A4%E9%97%B4%E8%B7%9D/ 去除元素之间空隙 */
    transform: translate(25%,0%);
}

#favToggleWrap span{
    display: inline-block;
    padding: 5px 15px;
    font-size: 15px;
    background: rgb(139,167,227);
    margin: 0;
    color: white;
    cursor: pointer;
}

#favToggleWrap .curFav{
    background: rgb(78,144,232);
    color: white;
}

#contentWrap{
    height: 500px;
}