
//$themeColor: rgb(78, 144, 232);
//$themeColorLight:rgb(139, 167, 227);
$themeColor: black;
$themeColorLight:grey;

/*============================*/

$sumHeight: 520px;

/*预定义的样式*/
@mixin linkColor($color,$hover:$color) {
  text-decoration: none;
  color: $color;
  &:hover {
    text-decoration: none;
    color: $color;
  }
  &:active, &:visited {
    text-decoration: none;
    color: $color;
  }
}
