@import "color";
$sumHeight: 520px;

/*预定义的样式*/
@mixin linkColor($color,$hover:$color) {
  text-decoration: none;
  color: $color;
  &:hover {
    text-decoration: none;
    color: $color;
  }
  &:active, &:visited {
    text-decoration: none;
    color: $color;
  }
}
